@model ECommerce.Areas.Management.Models.Entities.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Management/Views/Shared/Layout.cshtml";
}
<div class="col-md-8 compose-right">
    <div class="inbox-details-default">

        <div class="inbox-details-body">
            <div class="alert alert-info">
                Ürün Değiştirme
            </div>

            @using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Product</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.Label("Kategori", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("categoryId", new SelectList(ViewBag.Categories, "Id", "Name"), "Kategori Seç", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.categoryId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Marka", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("brandId", new SelectList(ViewBag.Brands, "Id", "Name"), "Marka Seç", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.brandId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Model", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("modelId", new SelectList(ViewBag.Models, "Id", "Name"), "Model Seç", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.modelId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Alt Model", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("subModelId", new SelectList(ViewBag.SubModels, "Id", "Name"), "Alt Model Seç", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.subModelId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ClassType, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EnumDropDownListFor(model => model.ClassType, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ClassType, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FuelType, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EnumDropDownListFor(model => model.FuelType, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FuelType, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.GearType, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EnumDropDownListFor(model => model.GearType, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.GearType, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.dailyPrice, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.dailyPrice, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.dailyPrice, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.discount, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.discount, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.discount, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.autoModelYear, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("autoModelYear", ViewBag.ModelYear as SelectList, "Model yılı Seç", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.autoModelYear, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.km, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.km, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.km, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.stock, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.stock, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.stock, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Resim", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">

                        @if (Model.image != null)
                        {
                            <div style="display:inline-block; margin:5px; border:1px solid #808080; padding:10px;">
                                <img style="width:90px;height:110px;" src="data:image/png;base64,@Convert.ToBase64String(Model.image)" />

                                @*<a style="display:block;" href="javascript:void(0);" id="Link_Sil" resim_id="@item.imageId">Sil</a>*@
                            </div>
                        }

                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("image", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="file" name="image1" id="image1" class="form-control" />

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-5">
                        <input type="submit" value="Save" />

                        @Html.ActionLink("Back to List", "Index")

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            }
        </div>
</div>


<div class="clearfix"></div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#brandId").change(function () {
            var brandId = $('#brandId option:selected').val();
            //modeller
            var model = $("#modelId");
            //alert(cityId);
            $.ajax({
                url: "/SubModel/getModels",
                data: { brandId: brandId },
                type: "post",
                success: function (data) {
                    //modelleri(dropdown) boşalt
                    model.empty();
                    model.append(
                        $('<option></option>').val(0).html("Model Seç"));

                    $.each(data, function (i, models) {
                        //alert(JSON.stringify(data));
                        model.append(
                            $('<option></option>').val(models.Id).html(models.Name)
                        );
                    });
                }
            });
        });
        $("#modelId").change(function () {
            var modelId = $('#modelId option:selected').val();
            //modeller
            var subModel = $("#subModelId");
            //alert(cityId);
            $.ajax({
                url: "/SubModel/getSubModels",
                data: { modelId: modelId },
                type: "post",
                success: function (data) {
                    //altmodelleri(dropdown) boşalt
                    subModel.empty();
                    subModel.append(
                        $('<option></option>').val(0).html("Alt Model Seç"));

                    $.each(data, function (i, subModels) {
                        //alert(JSON.stringify(data));

                        subModel.append(
                            $('<option></option>').val(subModels.Id).html(subModels.Name)
                        );
                    });
                }
            });
        });
    });
</script>
