@model IEnumerable<ECommerce.Areas.Management.Models.Entities.Rent>
@{
    ViewBag.Title = "MyRents";
    Layout = "~/Views/_shared/_LayoutAccount.cshtml";
}

<div class="single-sidebar">
    <h3>Kiraladıklarım</h3>

    <div class="table-responsive">
        <table id="mytable" class="table table-bordered table-striped">

            <thead>
                @if (!Model.Any())
                {
                    <tr><td colspan="10" style="text-align:center"> hiç araç bulunmamaktadır</td></tr>
                }
                else
                {


                <th><input type="checkbox" id="checkall" /></th>
                <th>@Html.DisplayName("resim")</th>
                <th>@Html.DisplayName("Marka Adı")</th>
                <th>@Html.DisplayName("Model Adı")</th>
                <th>@Html.DisplayName("Alt Model Adı")</th>
                <th>@Html.DisplayName("Ürün Adı")</th>
                <th>@Html.DisplayName("Başlangıç")</th>
                <th>@Html.DisplayName("Bitiş")</th>
                <th>@Html.DisplayName("Tutar")</th>
                <th>indirim</th>
                <th>Sil</th>
            }
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        if (item.rentState == ECommerce.Areas.Management.Models.Entities.rentState.Onaylandı)
                        { <tr id="@item.Id">
    <td><input type="checkbox" class="checkthis" /></td>
    <td><img style="width:100%;" src="data:image/png;base64,@Convert.ToBase64String(item.Product.image)" /></td>
    <td>@Html.DisplayFor(model => item.Product.Brand.Name)</td>
    <td>@Html.DisplayFor(model => item.Product.Model.Name)</td>
    <td>@Html.DisplayFor(model => item.Product.SubModel.Name)</td>
    <td>@Html.DisplayFor(model => item.Product.Name)</td>
    <td>@Html.DisplayFor(model => item.rentStartDate)</td>
    <td>@Html.DisplayFor(model => item.rentEndDate)</td>
    @{
        TimeSpan time = new TimeSpan();
        DateTime first = item.rentStartDate ?? DateTime.Now;
        DateTime second = item.rentEndDate ?? DateTime.Now;
        time = first - second;
        decimal discount = 0;
        if (Convert.ToDecimal(Math.Abs(time.Days)) >= 1 && Convert.ToDecimal(Math.Abs(time.Days)) < 5)
        {
            //2-4 gün
            discount = 0.05m;

        }
        else if (Convert.ToDecimal(Math.Abs(time.Days)) > 4 && Convert.ToDecimal(Math.Abs(time.Days)) < 10)
        {
            //5-9 gün
            discount = 0.1m;
        }
        else if ((Convert.ToDecimal(Math.Abs(time.Days)) > 9 && Convert.ToDecimal(Math.Abs(time.Days)) < 15))
        {
            //10-14 gün
            discount = 0.15m;
        }
        else
        {
            //15 günden sonra
            discount = 0.2m;
        }

      }
    <td>@string.Format("{0:F0}", (1 - (discount)) * item.Product.dailyPrice * Convert.ToDecimal(Math.Abs(time.Days)))</td>
    <td>@(discount * 100) %</td>
    <td>
        <p data-placement="top" data-toggle="tooltip" title="Sil">
            <button id="deleteRent" data-id="@item.Id" data class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete">
                <span class="fa fa-trash"></span>
            </button>
        </p>
    </td>
</tr>}
                    }

                </tbody>

            </table>
        </div>
    </div>
    <script src="~/Areas/Management/Assets/js/jquery-2.1.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#mytable #checkall").click(function () {
                if ($("#mytable #checkall").is(':checked')) {
                    $("#mytable input[type=checkbox]").each(function () {
                        $(this).prop("checked", true);
                    });

                } else {
                    $("#mytable input[type=checkbox]").each(function () {
                        $(this).prop("checked", false);
                    });
                }
            });

            $("[data-toggle=tooltip]").tooltip();
    });
    // kiraladıklarımı sil
        $(document).on("click", "#deleteRent", function () {
            var Id = $(this).attr("data-id");

            $.ajax({
                url: "@Url.Action("deleteRent","Account")",
                type: "post",
                data: { Id: Id },
                success: function (response) {
                    if (response)
                        $("tr#"+Id).fadeOut(1000);
                    else
                        alert("false");
                }
            });

        });

    </script>
