@model ECommerce.Areas.Management.Models.VM.Login
<!--Header-->
@Html.Partial("~/Views/_shared/_header.cshtml");
<!--görsel-->
<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Page Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Üye Girişi</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Araba kiralayabimenız için Giriş yapmanız gerekmektedir.</p>
                </div>
            </div>
            <!-- Page Title End -->
        </div>
    </div>
</section>
<!-- Login Page-->
<section id="lgoin-page-wrap" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-8 m-auto">
                <div class="login-page-content">
                    <div class="login-form">
                        <h3>Hoşgeldiniz</h3>
                        <form action="@Url.Action("Login","Customer")" method="post">
                            @Html.AntiForgeryToken()
                            <div class="col-md-12">
                                @Html.ValidationSummary()
                            </div>
                            <input type="hidden" name="ReturnUrl" value="@Request.QueryString["ReturnUrl"]" />
                            <!--Kullanıcı adı-->
                            <div class="username">
                                <input type="text" id="username" name="username" placeholder="Eposta">
                                @Html.ValidationMessageFor(model => model.username)
                            </div>
                            <!--şifre-->
                            <div class="password">
                                <input type="password" id="password" name="password" placeholder="Şifre">
                                @Html.ValidationMessageFor(model => model.password)
                            </div>
                            <!--beni hatırla-->
                            <div>
                                @Html.EditorFor(model => model.rememberMe, new { htmlAttributes = new { @style = "width:20px;" } })

                                <label style="text-align:left">Beni Hatırla</label>
                                &nbsp;&nbsp;
                                <label><a href="@Url.Action("forgotPassword","Customer")">Parolamı Unuttum</a></label>
                            </div>
                            <div class="log-btn">
                                <button type="submit"><i class="fa fa-sign-in"></i> Giriş</button>
                            </div>
                            <!--Mesaj panosu-->
                            <div class="log-btn">
                                @if (ViewBag.Status == true)
                                {
                                    <div class="alert alert-success">
                                        <strong>Tebrikler!</strong>@ViewBag.Message
                                    </div>
                                }
                                else
                                {
                                    if (ViewBag.Message != null)
                                    {
                                        <div class="alert alert-danger">
                                            <strong>Hata!</strong>@ViewBag.Message
                                        </div>
                                    }
                                }
                            </div>
                        </form>
                    </div>

                    <div class="login-other">
                        <span class="or">or</span>
                        <a href="#" class="login-with-btn facebook"><i class="fa fa-facebook"></i> Login With Facebook</a>
                        <a href="#" class="login-with-btn google"><i class="fa fa-google"></i> Login With Google</a>
                    </div>
                    <div class="create-ac">
                        <p>Bir hesap oluştur  <a href="@Url.Action("Register","Customer")">Kaydol</a></p>
                    </div>
                    <div class="login-menu">
                        <a href="about.html">About</a>
                        <span>|</span>
                        <a href="contact.html">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End login Page-->
<!--Footer-->

@Html.Partial("~/Views/_shared/_footer.cshtml");
