@model ECommerce.Areas.Management.Models.VM.RPassword

<!--Header-->
@Html.Partial("~/Views/_shared/_header.cshtml");
<!--görsel-->
<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Page Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Üye Girişi</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Araba kiralayabimenız için Giriş yapmanız gerekmektedir.</p>
                </div>
            </div>
            <!-- Page Title End -->
        </div>
    </div>
</section>
<!-- resetPassword Page-->
<section id="lgoin-page-wrap" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-8 m-auto">
                <div class="login-page-content">
                    <div class="login-form">
                        <h3>Yeni parola Belirleme</h3>
                        <form action="@Url.Action("resetPassword","Customer")" method="post">
                            @Html.AntiForgeryToken()
                            <div class="col-md-12">
                                @Html.ValidationSummary()
                            </div>

                             @Html.HiddenFor(model=>model.resetcode)
                            <!--Kullanıcı adı-->
                            <div class="username">
                                <input type="text" id="email" name="email" placeholder="Eposta">
                                @Html.ValidationMessageFor(model => model.email)
                            </div>
                            <!--şifre-->
                            <div class="password">
                                <input type="password" id="password" name="password" placeholder="Şifre">
                                @Html.ValidationMessageFor(model => model.password)
                            </div>
                            <!--Rşifre-->
                            <div class="password">
                                <input type="password" id="rePassword" name="rePassword" placeholder="Şifre tekrarı">
                                @Html.ValidationMessageFor(model => model.password)
                            </div>
                            <div class="log-btn">
                                <button type="submit"><i class="fa fa-sign-in"></i> Kaydet </button>
                            </div>
                            <!--Mesaj panosu-->
                            <div class="log-btn">
                                @if (ViewBag.Status == true)
                                {
                                    <div class="alert alert-success">
                                        <strong>Tebrikler!</strong>@ViewBag.Message
                                    </div>
                                }
                                else
                                {
                                    if (ViewBag.Message != null)
                                    {
                                        <div class="alert alert-danger">
                                            <strong>Hata!</strong>@ViewBag.Message
                                        </div>
                                    }
                                }
                            </div>
                        </form>
                    </div>

                    <div class="create-ac">
                        <p>Bir hesap oluştur  <a href="@Url.Action("Register","Customer")">Kaydol</a></p>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</section>
<!--End login Page-->
<!--Footer-->

@Html.Partial("~/Views/_shared/_footer.cshtml");
