@model IEnumerable<ECommerce.Areas.Management.Models.Entities.Rent>
@{
    ViewBag.Title = "rentCars";
    Layout = "~/Areas/Management/Views/Shared/Layout.cshtml";
}
<div class="col-md-12 compose">
    <div class="inbox-details-default">
        <div class="inbox-details-body">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayName("Resim")
                    </th>
                    <th>
                        @Html.DisplayName("Müşteri")
                    </th>
                    <th>
                        @Html.DisplayName("Tutar")
                    </th>
                    <th>İndirim(%)</th>
                    <th>
                        @Html.DisplayNameFor(model => model.rentStartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.rentEndDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.rentState)
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr class="@(item.rentState==ECommerce.Areas.Management.Models.Entities.rentState.Onaylandı?"success":item.rentState==ECommerce.Areas.Management.Models.Entities.rentState.Beklemede?"warning":item.rentState==ECommerce.Areas.Management.Models.Entities.rentState.Uygun?"info":"danger")">

                        <td style="width:20%"><img style="width:100%;" src="data:image/png;base64,@Convert.ToBase64String(item.Product.image)" /></td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Customer.firstName)
                            &nbsp;
                            @Html.DisplayFor(model => item.Customer.lastName)
                        </td>
                        @{
                            TimeSpan time = new TimeSpan();
                            DateTime first = item.rentStartDate ?? DateTime.Now;
                            DateTime second = item.rentEndDate ?? DateTime.Now;
                            time = first - second;
                            decimal discount = 0;
                            if (Convert.ToDecimal(Math.Abs(time.Days)) >= 1 && Convert.ToDecimal(Math.Abs(time.Days)) < 5)
                            {
                                //2-4 gün
                                discount = 0.05m;

                            }
                            else if (Convert.ToDecimal(Math.Abs(time.Days)) > 4 && Convert.ToDecimal(Math.Abs(time.Days)) < 10)
                            {
                                //5-9 gün
                                discount = 0.1m;
                            }
                            else if ((Convert.ToDecimal(Math.Abs(time.Days)) > 9 && Convert.ToDecimal(Math.Abs(time.Days)) < 15))
                            {
                                //10-14 gün
                                discount = 0.15m;
                            }
                            else
                            {
                                //15 günden sonra
                                discount = 0.2m;
                            }

                        }
                        <td>@string.Format("{0:F0}",(1 -(discount))*item.Product.dailyPrice * Convert.ToDecimal(Math.Abs(time.Days)))</td>
                        <td>@(discount*100) %</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.rentStartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.rentEndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.rentState)
                        </td>
                        <td>
                            @Html.ActionLink("Onayla", "Ok", new { id = item.Id })
                            @Html.ActionLink("Beklemede", "Suspend", new { id = item.Id })
                            @Html.ActionLink("Teslim Al", "takeIt", new { id = item.Id })
                            @Html.ActionLink("İptal", "Cancel", new { id = item.Id })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
